

.home-content {
    margin-top: -10rem;
}


@media (min-width: 0px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 1rem;
    }

}

@media (min-width: 576px) {
    footer {
        display: flex;
        position: relative;
    }

}